<html>
	<head>
	  <title>Grocery List</title>
	  <link href="normalize.css" rel="stylesheet"/>
	  <link href="skeleton.css" rel="stylesheet"/>
	  <link rel="stylesheet/less" type="text/css" href="app.less" />
	</head>
	<body>
		<div class="container">
			<div id="app"></div>
		</div>
     	<script src="app.js"></script>
		 <script>
			less = {
				env: "development"
			};
		 </script>
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
	</body>
</html>